*{
    font-family:'Times New Roman', Times, serif;
}
.about_us_section{
    width: 60%;
    margin: auto;
}
@media(max-width: 480px){
    .about_us_section{
        width: 80%;
        margin: auto;
    }
}
.about_us_section h1{
    text-align:center;
    padding-top: 20%;
}
@media(max-width: 768px){
    .about_us_section h1{
        text-align:center;
        padding-top: 35%;
    }
}
@media(max-width: 480px){
    .about_us_section h1{
        text-align:center;
        padding-top: 45%;
    }
}

.about_us_section p{
    text-align:center;
    /* margin-top: 10px; */
}
.about_us_section-div{
    margin: auto;
    width:70%;
    border: 1px solid red;
    border-radius: 50px;
    text-align: center;
    height: 250px;
    margin-bottom: 5%;  
}
@media(max-width: 480px){
    .about_us_section-div{
        margin: auto;
        width:90%;
        border: 1px solid red;
        border-radius: 50px;
        text-align: center;
        height: 250px;
        margin-bottom: 10%;  
    }
}
.about_us_section-div > h2{
    padding-top: 10%;

}
.about_us_section-div > p{
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}