.payment-box{
    width: 40%;
    /* margin-top: 0%; */
    margin: auto;
    padding-left: 10px;
    padding-top: 20%;
}
@media(max-width: 480px){
    .payment-box{
        width: 100%;
        margin-top: 20%;
        margin: auto;
       
        padding-left: 10px;
        padding-top: 20%;
    }
}
#paystackImg{
    width: 50%;
    height: 50px;
    /* padding-top: 5%; */

}
#paystack-radio{
    padding-left: 50%;
    /* padding-bottom: 50%; */
}
.submit{
    color: blue;
}