*{
    font-family:'Times New Roman', Times, serif;
}
@media(min-width: 767px){
    .pickUp{
        width: 100%;
        /* padding-top: 60px; */
    }
    #header{
        text-align: center;
        margin-top: -350px;
    }
    .pickUpFlex{
        display: flex;
        margin-top:0%;
    }
    .pickUpFlexText{
        
        margin-top: 10px;
        width: 40%;
        /* background-color:green; */
        text-align: center;
    
    }
    .pickUpFlexText > p{
        margin-left: 40px;
        margin-top: 0%;
        margin-right: 10px;
    }
    .pickUpFlexText button{
        margin-left: 40px;
        border-radius: 10px;
        background-color:#D71F20;
        color: white;
        height: 43px;
        width: 194px;
        /* top: 599px; */
        padding: 25px, 90px, 25px, 90px;
    
    }
    .pickUpFlexImg{
        margin-top: 5px;
        width: 60%;
        /* background-color: red; */
    }
    #imgBike{
        width: 50%;
        margin-top:0%;
    }
}


@media(max-width: 766px){
    #header{
        text-align: center;
        margin-top: 30px;
    }
    .pickUpFlexText{
        width: 100%; 
    }
    .pickUpFlexText p{
        text-align: center;
        margin-left: 40px;
        margin-top: 50px;
        margin-right: 10px;
    }
    .pickUpFlexText button{
        margin-left: 100px;
        margin-top: 20px;
        border-radius: 10px;
        background-color:#D71F20;
        color: white;
        height: 43px;
        width: 194px;
        padding: 25px, 90px, 25px, 90px;
    
    }
    .pickUpFlexImg{
        margin-top: 75px;
        width: 100%;
    }
    #imgBike{
        width: 100%;
    }
}