*{
    font-family:'Times New Roman', Times, serif;
}
.pickUp{
    width: 100%;
}
.pickUp h1{
    padding-top: 10%;
}
.pickUpFlex{
    width: 100%;
    display: flex;
    /* background-color: green; */
}
@media(max-width:480px){
    .pickUpFlex{
        width: 100%;
        display: block;
        background-color: green;
    }
}
.pickUpFlexText{
    padding-top: 30%;
    width: 50%;
}
@media(max-width:480px){
    .pickUpFlexText{
        padding-top: 20%;
        width: 100%;
        text-align: center;
    }
}
.pickUpFlexText span{
    color: black;
}
.pickUpFlexImg{
    width: 50%;
}
@media(max-width:480px){
    #imgBike{
        display: none;
    }
}

 button{
    margin-left: 50%;
}
@media(max-width:480px){
    .pickUpFlexText > button{
        margin: 5%;
        /* size: 10px; */
    }
}