*{
    font-family:'Times New Roman', Times, serif;
}
#schedule2{
    margin: 25px auto;
    /* background-color:aqua; */
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 10%;
}

#innerschedule2{
    margin: 25px auto;
    /* background-color:yellow; */
    width: 70%;
    margin-top: 10px;
}

#items{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

input[type=text]{
    width: 90%;
    height: 40px;
    border-radius: 5px;
}

#checked{
    /* display: flex; */
    margin-left: 20%;
}

input[type=submit]{
    display: block;
    background-color: #D71F20;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}
