.section{
    /* background-color: green; */
    width: 90%;
}
input[type=text]{
    width: 80%!important;
    margin-bottom: 5% !important;
}

input[type=email], [type=password], [type=number], [type=submit]{
    height: 36.94882583618164px;
    width: 80%!important;
    /* left: 81px; */
    margin-bottom: 5% !important;
    /* top: 223.42529296875px; */
    border-radius: 10px;
}
.section > button{
    background: #D71F20;
    height: 43px;
    width: 80%!important;
    top: 1520px;
    border-radius: 10px;
    padding: 25px, 90px, 25px, 90px;
    margin-bottom: 10%;
}
@media(max-width:1024px){
    .section > button{
        background: #D71F20;
        height: 43px;
        top: 1520px;
        border-radius: 10px;
        padding: 25px, 90px, 25px, 90px;
        margin-bottom: 10%;
    }
}
#Link{
    color: white;
    text-decoration: none;
}