
span{
    padding-top: 20%;
}
section{
    width: 50%;
    background-color: #fff;
    /* background-color: green; */
    margin: auto;
    /* margin-top: 10%; */
    padding-left: 5%;
    /* padding-top: 2%; */
}
section h3{
    color: black;
    font-size:xx-large;
    font-weight: bold;
    padding-top: 25%;
}
.indicate{
    color: black;
}

@media(max-width:1024px){
    section{
        width: 60%;
        background-color: #fff;
        margin: auto;
        margin-top: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}
@media(max-width:920px){
    section{
        width: 70%;
        background-color: #fff;
        margin: auto;
        margin-top: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}
@media(max-width:765px){
    section{
        width: 80%;
        background-color: #fff;
        margin: auto;
        margin-top: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}
@media(max-width:666px){
    section{
        width: 100%;
        background-color: #fff;
        margin: auto;
        margin-top: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}

.inputName{
    display: flex;
    padding-top: 5%;  
}

@media(max-width:530px){
    .inputName{
        display: flex;
        flex-direction: column;
        padding-top: 5%; 
        width: 100%; 
    }
    section{
        width: 100%;
        background-color: #fff;
        /* margin: auto; */
        margin-top: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}
input[type=text] {
    margin: 5px;
    height: 37px;
    width: 245px;
    left: 81px;
    top: 130px;
    border-radius: 10px;
    margin-bottom:10%;
}

input[type=email], [type=password], [type=number]{
    height: 36.94882583618164px;
    width: 512px;
    margin-left: 0%;
    margin-bottom: 5%;
    /* top: 223.42529296875px; */
    border-radius: 10px;
}
input[type=submit] {
    height: 41px;
    width: 512px;
    margin: auto;
   margin-left: 0%;
    border-radius: 10px;
    background-color:#D71F20;
    
    color: #fff;
    margin-bottom: 5%;
    cursor: pointer;
}

@media(max-width:530px){
    .inputName{
        /* display: flex; */
        flex-direction: column;
        padding-top: 5%; 
        width: 100%; 
    }
    section{
        width: 100%;
        background-color: #fff;
        /* margin: auto; */
        margin-top: 5%;
        /* padding-left: 5%; */
        padding-top: 2%;
    }
    input[type=text] {
        margin: 5px;
        height: 37px;
        width: 90%;
        /* left: 81px; */
        top: 130px;
        border-radius: 10px;
        margin-bottom:10%;
    }
    
    input[type=email], [type=password], [type=number]{
        height: 36.94882583618164px;
        width: 90%;
        margin-bottom: 5%;
        border-radius: 10px;
    }
    input[type=submit] {
        height: 41px;
        width: 90%;
        top: 503px;
        border-radius: 10px;
        background-color:#D71F20;
        color: #fff;
    }
}
.p1{
    width: 50%;
    /* background-color:aqua; */
    margin: auto;
    color: black;
    font-weight: 500;
    padding-left:15%;
}

@media(max-width: 1024px){
    .p1{
        width: 50%;
        /* background-color:aqua; */
        margin: auto;
        /* text-align: center */
        padding-left:25%;
    }
}
@media(max-width: 768px){
    .p1{
        width: 50%;
        /* background-color:aqua; */
        margin: auto;
        /* text-align: center */
        padding-left:35%;
    }
}
.p2{
    /* width: 100%; */
    /* background-color:aqua; */
    margin: auto;
    color: black;
    font-weight: 500;
    padding-top: 5%;
    padding-left:20%;
    padding-bottom: 5%;
}
.p2 > span{
    color:#D71F20;
    cursor: pointer;
}