*{
    font-family:'Times New Roman', Times, serif;
}

.terms-and-condition{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10%;
    width: 90%;
    /* margin: auto; */
    border-color: beige;
    /* border-style: groove; */

}
h1{
    text-align: center;
    color: black;
} 
@media(max-width:480px){
    h1{
        text-align: center;
        color: black;
        font-size:medium;
        font-weight: bold;
    } 
}
span{
    color: red;
}
p{
    word-spacing: 5px;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
}



