*{
    font-family:'Times New Roman', Times, serif;
}

.terms-and-condition{
    width: 90%;
    margin: 25px auto;
    border-color: beige;
    border-style: groove;

}
h1{
    text-align: center;
    color: black;
} 
span{
    color: red;
}
span, p{
    margin-left: 0%;
    padding-left:0%;
    /* justify-content:stretch; */
    text-align: left;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    /* margin-right: 120px; */
}



